<!-- templates/about.html -->
<h1>Welcome to GATO-BOT</h1>
<p>MyBot helps teams stay connected with reminders, FAQs, and feedback collection.</p>
<p><a href="https://slack.com/oauth/v2/authorize?client_id=9619482751795.9654199014112&scope=app_mentions:read,channels:history,channels:read,chat:write,chat:write.customize,chat:write.public,commands,im:history,im:read,im:write,mpim:history,users:read&user_scope=mpim:history&redirect_uri=https://slack-bot-wlyn.onrender.com/slack/oauth_redirect/">Install GATO-BOT</a></p>